@import '../BasicPartials';
.Footer{
    background-color: $Gray;
    padding: 5% 5%;
    input,select,textarea{
    background-color: $Gray;

        border:none;
        border-bottom:3px solid black;
        border-radius: 0%;
        &:focus{
            background-color: $Gray;
            outline: none;
            box-shadow: none;
        }
    }
    button{
        border: none;
        background-color:black ;
        color: white;
        padding: 5% 10%;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
    }
    .SecondCol{
        background-color: $Green;
        padding: 5% 2%;
        p{
            color: white;
            font-size: 1rem;
        }
    }
}